<%= @player_1_name %> vs. <%= @player_2_name %>
<br>
<br>
<%= @player_1_name %> HP point:50 
  <br>
  <%= @player_2_name %> HP point:70 
  <br>
  <br>
  <form action="/attack">
  <input type="submit" value="Attack">
 </form>